doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Password Reset
    link(rel='shortcut icon', href='/logo-icon.ico', type='image/x-icon')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx', crossorigin='anonymous')
  body
    img.rounded.mx-auto.d-block(src='/logo.png', alt='StudFee-Logo', width='150px', height='150px')
    form(method='POST')
      .card.shadow-lg.mx-auto(style='width: 90%; margin-top: 50px;')
        .card-header
          h4 Please enter a new password
        .card-body
          .mb-3
            label.form-label(for='password') New Password
            input.form-control(type='password', name='password', aria-describedby='helpId', placeholder='Password')
            small#helpId.form-text.text-muted Must be at least 8 chars long
          .mb-3
            label.form-label(for='confirmpassword') Confirm Password
            input.form-control(type='password', name='confirmPassword', aria-describedby='helpId', placeholder='Confirm Password')
            small#helpId.form-text.text-muted Confirm Password
        .card-footer
          button.btn.btn-primary(type='submit')  Change Password
          if errors
            ul
              each error in errors
                li= error.msg
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js', integrity='sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa', crossorigin='anonymous')